body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #444;
  background: #f6f9fa;
  max-width: 1680px;
  position: relative;
  overflow-y: scroll;
  height: 100%;
  margin: auto;
  padding: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
@media (max-width: 800px) {
  body {
    flex-direction: column;
  }
}
.sidebar {
  display: flex;
  flex-direction: column;
  width: 300px;
  min-width: 300px;
  align-self: flex-start;
  position: sticky;
  top: 0;
}
@media (max-width: 1000px) {
  .sidebar {
    width: 200px;
    min-width: 200px;
  }
}
@media (max-width: 800px) {
  .sidebar {
    width: 100%;
    bottom: auto;
    height: 80px;
    z-index: 99999;
  }
}
.sidebar .sidebar_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  padding: 20px 0;
  border-bottom: 1px solid #eceded;
  overflow: hidden;
  position: relative;
}
@media (max-width: 800px) {
  .sidebar .sidebar_info {
    height: 80px;
    padding: 0;
    flex-direction: row;
    justify-content: start;
  }
}
.sidebar .sidebar_info .logo {
  margin: 0px auto 0;
  width: 72px;
  height: 72px;
  background: url(../img/logo.jpg) no-repeat;
  background-size: contain;
}
@media (max-width: 800px) {
  .sidebar .sidebar_info .logo {
    margin: 10px 12px;
    width: 60px;
    height: 60px;
  }
}
.sidebar .sidebar_info .sidebar_overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 800px) {
  .sidebar .sidebar_info .sidebar_overlay {
    flex-direction: row;
  }
}
.sidebar .sidebar_info .sidebar_overlay .sidebar_title {
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
}
@media (max-width: 800px) {
  .sidebar .sidebar_info .sidebar_overlay .sidebar_title {
    display: none;
  }
}
.sidebar .sidebar_info .sidebar_overlay ul.social {
  list-style: none;
  padding: 0;
  margin: auto;
}
@media (max-width: 800px) {
  .sidebar .sidebar_info .sidebar_overlay ul.social {
    position: static;
    transform: none;
  }
}
.sidebar .sidebar_info .sidebar_overlay ul.social li.social_item {
  display: inline;
}
.sidebar .sidebar_info .sidebar_overlay ul.social li.social_item a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}
.sidebar .sidebar_info .sidebar_overlay ul.social li.social_item a:hover {
  color: rgba(0, 0, 0, 0.8);
}
.sidebar .navigation {
  float: right;
}
@media (max-width: 800px) {
  .sidebar .navigation {
    display: none;
  }
}
.sidebar .navigation .navigation_list {
  margin-top: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar .navigation .navigation_list .navigation_item .navigation_link {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  color: rgba(0, 0, 0, 0.6);
  padding: 7px 15px;
  font-size: 16px;
  text-decoration: none;
}
.sidebar .navigation .navigation_list .navigation_item .navigation_link:hover {
  color: rgba(0, 0, 0, 0.8);
}
.sidebar .navigation .navigation_list .navigation_item:first-child .navigation_link {
  border-top: none;
}
.sidebar .navigation .navigation_list .navigation_item:last-child .navigation_link {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.container {
  box-sizing: border-box;
  max-width: 1280px;
  height: 100%;
  padding: 20px 50px 50px 50px;
  background: #fff;
  position: relative;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: -5px 0px 30px 0px #dddddd;
}
@media (max-width: 800px) {
  .container {
    margin-left: 0;
    padding: 10px;
  }
}
.container img.git_contrib {
  max-width: 100%;
  height: auto;
}
@media (max-width: 500px) {
  .container img.git_contrib {
    display: none;
  }
}
.container h2 {
  font-size: 18px;
}
@media (max-width: 1000px) {
  .container h2.intro {
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  .container h2.intro {
    font-size: 14px;
  }
}
.container .content h1 {
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 28px;
  color: #274287;
}
@media (max-width: 1000px) {
  .container .content h1 {
    font-size: 22px;
  }
}
@media (max-width: 800px) {
  .container .content h1 {
    font-size: 18px;
  }
}
.container .content ul {
  margin: 0px;
  padding-left: 30px;
  list-style-type: square;
}
.container .content li {
  font-size: 16px;
}
@media (max-width: 1000px) {
  .container .content li {
    font-size: 14px;
  }
}
.container .content h2 {
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 0px;
  font-size: 18px;
  font-weight: bold;
  color: #274287;
}
@media (max-width: 1000px) {
  .container .content h2 {
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  .container .content h2 {
    font-size: 14px;
  }
}
.container .content p {
  margin: 0px;
  padding-top: 10px;
  padding-left: 30px;
  font-size: 16px;
}
@media (max-width: 1000px) {
  .container .content p {
    font-size: 14px;
  }
}
