.sidebar_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  padding: 20px 0;
  border-bottom: 1px solid #eceded;
  overflow: hidden;
  position: relative;

  @media (max-width: 800px) {
    height: 80px;
    padding: 0;
    flex-direction: row;
    justify-content: start;
  }

  .logo {
    margin: 0px auto 0;
    width: 72px;
    height: 72px;
    background: url(../img/logo.jpg) no-repeat;
    background-size: contain;

    @media (max-width: 800px) {
      margin: 10px 12px;
      width: 60px;
      height: 60px;
    }
  }

  .sidebar_overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 800px) {
      flex-direction: row;
    }

    .sidebar_title {
      text-align: center;
      font-size: 14px;
      margin-top: 5px;
      margin-bottom: 5px;

      @media (max-width: 800px) {
        display: none;
      }
    }

    @import "social.less";
  }
}
